<?xml version="1.0" encoding="utf-8" ?>
<Branding>
  <BrandingViews>
    <BrandingView name="default">

      <!-- If you wish to include some analytics content at the bottom of
           every page, then uncomment the following line: -->
       <Analytics src="Analytics.xml" />
      
      
      <!-- For the mobile booking pages. -->
      <Device pageset="small">
        <HtmlHeaderSection src="HtmlHeader.xml" />
      </Device>
      
      
      <!-- For the desktop booking pages. -->
      <Device pageset="large">
        <HtmlHeaderSection src="HtmlHeader.xml" />
        <BodyHeaderSection src="BodyHeader.xml" />
        <BodyFooterSection src="BodyFooter.xml" />
      </Device>
      
    </BrandingView>
  </BrandingViews>
</Branding>