.footer {
  padding: 0 1.5rem;
  padding-top: 12vh;
}
.footer > .row {
  justify-content: center;
  align-items: center;
}
.footer > .row .socialShare {
  margin-top: 3rem;
}
@media screen and (min-width: 1200px) {
  .footer > .row .socialShare {
    margin-top: 5rem;
  }
}
.footer > .row .socialIcon {
  margin: 0 1rem;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease;
  width: 24px;
}
.share-text {
  margin-right: 1rem;
  font-weight: bold;
}
.footer > .row .socialIcon.twitter:hover {
  transition: all 0.2s ease;
  color: #1da1f2;
}
.footer > .row .socialIcon.facebook:hover {
  transition: all 0.2s ease;
  color: #4267b2;
}
.footer > .row .bottomFooter {
  padding-top: 10vh;
}
.footerLogo {
  font-weight: bold;
  font-size: 13px;
}
@media screen and (min-width: 1200px) {
  .footer > .row .footerLogo img {
    width: 280px;
  }
  .footer > .row .bottomFooter {
    padding-top: 0;
  }
}
.footer > .row .topRight {
  top: 0;
  right: 0;
  text-align: center;
  padding: 12px;
  border-bottom-left-radius: 0.8rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  border-left: 0.8rem solid white;
  border-bottom: 0.8rem solid white;
  font-weight: bold;
  position: absolute;
  width: 10rem;
}
@media screen and (min-width: 1200px) {
  .footer > .row .topRight {
    padding: 30px;
    width: 195px;
  }
  .footer > .row .topRight div,
  .footer > .row .topRight p {
    font-size: 15px;
  }
}
.footer > .row .topRight span,
.footer > .row .topRight p {
  z-index: 3;
  position: relative;
}
.footer > .row .topRight:hover,
.footer > .row .topRight:focus {
  color: black;
}
.footer > .row .topRight:hover:before,
.footer > .row .topRight:focus:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.footer > .row .topRight:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  inset: -0.1rem 0 0.2em 0;
  background: rgba(242, 245, 4, 0.9);
  z-index: 0;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: bottom right;
  border-top-right-radius: 1.25rem;
}
.footer > .row .topRight p {
  margin-bottom: 0;
}
.footer > .row .footerImage img {
  width: 100%;
  border-radius: 1rem;
}
@media screen and (min-width: 1200px) {
  .footer > .row .footerImage img {
    width: 412px;
    height: 522px;
  }
}
@media screen and (min-width: 1400px) {
  .footer > .row .footerImage img {
    width: 451px;
    height: 571px;
  }
}
.footer .copyright {
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
  font-size: 8px;
  font-weight: bold;
}
.text-end {
  text-align: end;
}
