.navigation {
  font-size: 12px;
  overflow-x: hidden;
  max-width: 100vw;
}
.navigation ul {
  list-style-type: none;
}
@media screen and (min-width: 1400px) {
  .navigation {
    font-size: 1rem;
  }
}
.navigation .container {
  padding: 13vh 4rem;
  background: #f2f504;
  max-width: 100vw;
}
@media screen and (max-width: 768px) {
  .navigation .container {
    padding-bottom: 10vh;
    padding-top: 10vh;
  }
}
.navigation .container .linkStatic {
  color: rgba(0, 1, 0);
  font-weight: bold;
}
.navigation .container .linkStatic:hover {
  color: black;
}
.navigation .container > .row {
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .navigation .container > .row {
    flex-wrap: nowrap;
  }
}
.navigation .container > .row .navLeft .items {
  flex-wrap: nowrap;
}
.navigation .container > .row .navLeft .logo {
  width: 100%;
}
.navigation .container > .row .navLeft .itemLink {
  white-space: nowrap;
  font-weight: bolder;
  font-weight: bold;
}
.navigation .container > .row .navLeft .itemLink.gray {
  color: rgba(90, 90, 90, 0.5);
}
.navigation .container > .row .navLeft .left-desc {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .navigation .container > .row .navLeft {
    width: 27rem;
    padding: 0 4rem;
  }
  .navigation .container > .row .navLeft .leftTop {
    height: 14rem;
  }
  .navigation .container > .row .navLeft .itemLink {
    font-size: 15px;
  }
  .navigation .container > .row .navLeft .left-desc {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1400px) {
  .navigation .container > .row .navLeft {
    width: 29rem;
  }
}
.navigation .container > .row .navRight {
  padding-top: 10vh;
}
.navigation .container > .row .navRight .dashed {
  border-top: 0.1rem dashed rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 1200px) {
  .navigation .container > .row .navRight {
    padding-right: 4rem !important;
    padding-left: 4rem !important;
    padding-top: 0;
  }
}
.navigation .container > .row .navRight .textSkew {
  transform: skew(-10deg, 0deg) rotateZ(-15deg);
  margin-top: -4rem !important;
  margin-left: -1.5rem !important;
  margin-bottom: 3rem !important;
  font-size: 12px;
  line-height: 1.7;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .navigation .container > .row .navRight .textSkew {
    margin-bottom: 2rem !important;
  }
}
@media screen and (max-width: 768px) {
  .navigation .container > .row .navRight .linkRight {
    justify-content: end;
  }
}
.navigation .container > .row .navRight .navImages {
  position: relative;
}
.navigation .container > .row .navRight .navImages .topRight {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  border-left: 0.8rem solid rgba(242, 245, 4, 0.8);
  border-bottom: 0.8rem solid rgba(242, 245, 4, 0.8);
  top: 0;
  right: 0;
  padding: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
@media screen and (max-width: 768px) {
  .navigation .container > .row .navRight .navImages .topRight {
    padding: 12px;
    width: 70%;
  }
  .navigation .container > .row .navRight .navImages .topRight h1,
  .navigation .container > .row .navRight .navImages .topRight p {
    text-align: end;
  }
}
.navigation .container > .row .navRight .navImages .topRight h1,
.navigation .container > .row .navRight .navImages .topRight p {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
}
.navigation .container > .row .navRight .navImages .topRight h1 span {
  font-size: 15px;
}
.navigation .container > .row .navRight .navImages .image img {
  border-radius: 1.5rem;
}
@media screen and (min-width: 1200px) {
  .navigation .container > .row .navRight .navImages .image img {
    width: 412px !important;
    height: 522px !important;
  }
}
@media screen and (min-width: 1400px) {
  .navigation .container > .row .navRight .navImages .image img {
    width: 451px !important;
    height: 571px !important;
  }
}
.navigation .container > .row .navRight .image2 img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1200px) {
  .navigation .container > .row .navRight .image2 img {
    width: 140px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation .container > .row .navRight .rightLinks {
    max-width: 200px;
  }
}
.navigation .container > .row .navRight .textDesc {
  font-size: 11px;
  font-weight: bold;
}
.navigation .container > .row .navRight .textDesc div {
  margin-top: 0.5rem;
}
.navigation .container > .row .navRight .linkIcon {
  font-size: 20px;
}
